.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgba(26, 11, 46, 1);;
}

.nav{
    max-width:1050px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}
.intro{
    display: flex;
    gap:32px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;

}
.btn{
    padding: 12px 16px;
    border-radius:10000px ;
    color:#FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F,#FB09B4,#9100F8) ;
   font-size: 1.1rem;
}
.tech{
    font-size: 2.5rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
