.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(26, 11, 46, 1);
}

.nav{
    max-width:1050px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
    
}
.intro{
    display: flex;
    gap:32px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;

}
.btn{
    padding: 12px 16px;
    border-radius:10000px ;
    color:#FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F,#FB09B4,#9100F8) ;
   font-size: 1.1rem;
   border: 0px;
}
.tech .tech-1{
    font-size: 2.5rem;
    color:#FFFFFF;
    font-weight: 700;

}
.tech .wave{
    font-size: 2.5rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.nav img{
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 5px 3px;
    display: none;
}
@media screen and (max-width:576px){
    .btn{
        display: none;
    }
    .intro{
        display: none;
    }
    .nav img{
        display:block ;
        margin-right: 20px ;
    }
    .tech{
        margin-left: 20px;
    }
}



.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    width:100%;
    
   padding: 100px 0;
   background-size: contain;
   background-repeat: no-repeat;
  
    
}
.hero-container .new{
    border-radius:1000px ;
    padding: 8px 16px;
    background-color: #00FF88;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    top: -220px;
    right:-275px;
    border:none;
}

.hero-container img{
    position: relative;
    
}
.hero-container .hero-circle{
    width: 100%;
    max-width: 300px;
    right:-480px;
    top:30px;
}
.hero-container .microphone{
    width: 100%;
    max-width: 120px;
    right:-270px;
    top:-30px;
}

.hero-container2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 8px;
    
}

.tech-1{
font-size: 3.5rem;
    color:#FFFFFF;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero-container2 p{
    color:#FFFFFF;
    margin-bottom: 24px;
}
.btn-2{
    padding: 12px 20px;
    border-radius:10000px ;
    color:#00FF88;
    background: none;
   font-size: 1.1rem;
   border: 2px solid #00FF88;
   
}
.btn-2 img{
    margin-right: 10px;
}
.btn-1{
    padding: 12px 20px;
    border-radius:10000px ;
    color:#FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F,#FB09B4,#9100F8) ;
   font-size: 1.1rem;
   border: 0px;
}

.btn-1 img{
    margin-right: 10px;
    
}


@media screen  and (max-width:576px) {
    .hero-section{
   
    background-position: center;
   
    width: 100%;
   padding: 100px 0;
   background-size: contain;
   background-repeat: no-repeat;
    
}
.hero-container .hero-circle{
    width: 100%;
   max-width: 35%;
    right:-10rem;
    top:6.25rem;
}
.hero-container .microphone{
    width: 100%;
    max-width: 15%;
    right:-2.5rem;
    top: 4.37rem;
}
.hero-container .new{
   padding:4px 8px;
    position: relative;
    top:-2.18rem;
    right:-2.5rem;
}
.hero-container2{
    
    margin-top: 120px;
    
}

}

.podcast-section{
     max-width:1050px ;
    margin: 0 auto;
}
.about-podcast{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.about-podcast h2{
    font-size: 3rem;
    font-weight: 700;
    color:#FFFFFF;
    margin-bottom: 24px;

}
.about-podcast p{
    color:#ffffffd6;
    font-size: .9rem;
    margin-bottom: 100px;
    line-height: 25px;
}

.podcast-number{
    
    display: flex;
    justify-content:space-between;
    gap:50px;
    text-align: center;
    margin-bottom: 50px;
}
.podcast-number .number h3{
   color:#00FF88;
   font-size: 3rem;
   font-weight: 900;
}

.podcast-number .number{
    color:#ffffff;
    font-size: 1.2rem;
}
@media screen and (max-width:576px){
    .podcast-section{
     width: 100% ;
    margin: 0 auto;
}
.podcast-number{
    
    display:block;
    display:grid ;
    grid-template-columns: repeat(2,1fr);
   
}
.about-podcast{
   
    max-width: 100%;
    margin: 0 20px;
}

}