.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(26, 11, 46, 1);
}

.nav{
    max-width:1050px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
    
   
    
}
.intro{
    display: flex;
    gap:32px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;

}
.btn{
    padding: 12px 16px;
    border-radius:10000px ;
    color:#FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F,#FB09B4,#9100F8) ;
   font-size: 1.1rem;
   border: 0px;
   transition: all 0.4s ease-in-out;
}

.btn:hover{
    background: blueviolet;
   transform: scale(1.1); 
    cursor:pointer;
}
.tech .tech-1{
    font-size: 2.5rem;
    color:#FFFFFF;
    font-weight: 700;

}
.tech .wave{
    font-size: 2.5rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.nav img{
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 5px 3px;
    display: none;
}
@media screen and (max-width:576px){
    .btn{
        display: none;
    }
    .intro{
        display: none;
    }
    .nav img{
        display:block ;
        margin-right: 20px ;
    }
    .tech{
        margin-left: 20px;
    }
}



.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    width:100%;
    
   padding: 100px 0;
   background-size: contain;
   background-repeat: no-repeat;
   border-top: 1px solid  #ffffff7d;
  
    
}
.hero-container .new{
    border-radius:1000px ;
    padding: 8px 16px;
    background-color: #00FF88;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    top: -220px;
    right:-275px;
    border:none;
    transition: all 0.3s ease-in-out;
}
.new:hover{
    background:blueviolet;
   transform: scale(1.1); 
   cursor:pointer ;
}

.hero-container img{
    position: relative;
    
}
.hero-container .hero-circle{
    width: 100%;
    max-width: 300px;
    right:-480px;
    top:30px;
}
.hero-container .microphone{
    width: 100%;
    max-width: 120px;
    right:-270px;
    top:-30px;
}

.hero-container2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 8px;
    
}

.tech-1{
font-size: 3.5rem;
    color:#FFFFFF;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero-container2 p{
    color:#FFFFFF;
    margin-bottom: 24px;
}

.btn-2{
    padding: 12px 20px;
    border-radius:10000px ;
    color:#00FF88;
    background: none;
   font-size: 1.1rem;
   border: 2px solid #00FF88;
   margin-left: 10px;
   transition: all 0.4s ease-in-out;

   
}
.btn-2:hover{
    background: cadetblue;
   transform: scale(1.1); 
    cursor:pointer;
}
.btn-2 img{
    margin-right: 10px;
}
.btn-1{
    padding: 12px 20px;
    border-radius:10000px ;
    color:#FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F,#FB09B4,#9100F8) ;
   font-size: 1.1rem;
   border: 0px;
   margin-right: 10px;
    transition: all 0.4s ease-in-out;
  
}
.btn-1:hover{
    background: blueviolet;
   transform: scale(1.1); 
    cursor:pointer;
}




.btn-1 img{
    margin-right: 10px;
    
}


@media screen  and (max-width:576px) {
    .hero-section{
   
    background-position: center;
   
    width: 100%;
   padding: 100px 0;
   background-size: contain;
   background-repeat: no-repeat;
    
}
.hero-container .hero-circle{
    width: 100%;
   max-width: 35%;
    right:-10rem;
    top:6.25rem;
}
.hero-container .microphone{
    width: 100%;
    max-width: 15%;
    right:-2.5rem;
    top: 4.37rem;
}
.hero-container .new{
   padding:4px 8px;
    position: relative;
    top:-2.18rem;
    right:-2.5rem;
}
.hero-container2{
    
    margin-top: 120px;
    
}

}

.podcast-section{
     max-width:1050px ;
    margin: 0 auto;
}
.about-podcast{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.about-podcast h2{
    font-size: 3rem;
    font-weight: 700;
    color:#FFFFFF;
    margin-bottom: 24px;

}
.about-podcast p{
    color:#ffffffd6;
    font-size: .9rem;
    margin-bottom: 50px;
    line-height: 25px;
    padding-bottom: 20px;
   
}

.podcast-number{
    
    display: flex;
    justify-content:space-between;
    gap:50px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 60px;
     border-top:1px solid #ffffff8a ;
}
.podcast-number .number h3{
   color:#00FF88;
   font-size: 3rem;
   font-weight: 900;
}

.podcast-number .number{
    color:#ffffffc7;
    font-size: 1.2rem;
}
@media screen and (max-width:576px){
    .podcast-section{
     width: 100% ;
    margin: 0 auto;
}
.podcast-number{
    
    display:block;
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    margin-left: 30px;
    margin-right: 30px;
   
}
.about-podcast{
   
    max-width: 100%;
    margin: 0 20px;
}

}
.tech-section{
    background-color:  rgba(35, 14, 61, 1);
}
.tech-container{
    margin-top: 120px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0px;
    
}

.tech-container h2{
    color:#FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    

}

.card-1,.card-2,.card-3,.card-4,.card-5{
    background-color:rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;

}
.card-container h3{
    margin-top:16px ;
    margin-bottom:16px ;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;

}
.card-container p{
    color: #ffffffb3;
    font-size: .9rem;
    line-height: 25px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
}
.card-1{
    grid-row:span 2 ;
}
.card-2{
    grid-column:span 2 ;
}
.card-3{
    grid-column:span 2 ;
}
.card-4{
    grid-column:span 2 ;
}
@media screen and (max-width:576px){
    .card-container{
    flex-direction: column;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    padding: 20px 20px;
    
    
}


}

.episode-section{
   max-width: 1050px;
   margin: 120px auto;
   
}

.episode-section h2{
    font-size:3rem ;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

.episode-container{
    display: flex;
    justify-content: space-between;
    
   
}
.card-episode{
    width:100%;
    max-width: 330px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
   
    justify-content: center;
    padding-bottom: 24px;
    
   

}

.card-episode iframe{
  border-radius: 24px;
}
.card-episode h3{
   font-size: 1.5rem; 
   font-weight: 700;
   color:#ffffff;
   margin-top: 24px;
   margin-bottom: 12px;
    padding-right: 24px;
   padding-left: 24px;

}
.card-episode p{
   color:#ffffffb1;
   padding-right: 24px;
   padding-left: 24px;
   line-height: 25px;
}
.card-episode .min{
    display: flex;
    width: 100%;
   height: 100%;
   max-width: 20px;
   max-height: 20px;
    margin-top: 12px;
     padding-right: 24px;
   padding-left: 24px;
   color:#00FF88;

}
.min p{
    color:#00FF88;
}
@media screen and (max-width:576px) {
    .episode-container{
    flex-direction: column;
    gap:50px;
    padding: 50px;
    
}
.episode-section{
   width: 100%;
   margin: 0 auto;
  
   
}

}

.meet-section{
    max-width: 1050px;
    margin: 0 auto;
    
    
}
.meet-section h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.meet-container{
    display: flex;
    justify-content: flex-start;
    gap:24px;
    background-color:rgba(53, 17, 101, 0.4) ;
    border-radius:40px ;
    padding: 40px;
    margin-bottom: 100px;
}
.meet-container img{
    max-width: 200px;
    
}
 .alex h3{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.alex p{
    color: #ffffffc2;
    margin-bottom: 16px;
    font-size: 0.9rem;
    line-height: 25px;
    
}
.alex .pic{
    display: flex;
    gap:20px;
    
}
.alex img{
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 8px;
    max-width: 40px;
    

}
@media screen and (max-width:576px) {
    .meet-section{
    width: 100%;
    margin: 0 auto;
    
}
.meet-container{
    flex-direction: column;
}
.meet-container img{
   position: relative;
   right: -90px;
}
.alex{
    text-align: center;
}

}

.footer-section{
    background: url(./assets/footer-bg.png);
    
    background-position: center;
    width:100%;
    background-size: cover;
   padding: 100px 0;
  
   
   background-repeat: no-repeat;
   
    
  
}
.footer-container{
    width: 1050px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}
.footer-container h2{
    text-align: center;
   margin-bottom: 32px;
    align-items: center;
   
}
.foo .foo-1{
    font-size: 4rem;
    color:#FFFFFF;
    font-weight: 700;

}
.foo .foo-wave{
    font-size: 4rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.footer-logo .spotify{
    display: flex;
    gap:8px;
    
}
.spotify p{
    color: #ffffffb5;

}
.footer-logo{
    display: flex;
    gap:20px;
    justify-content: center;
   margin-bottom: 75px;
}
.small{
    text-align: center;
    color: #ffffffbb;
    
   
}

@media screen and (Max-width:576px){
    .footer-container{
    width: 100%;
    margin: 0 auto;
    
}
.footer-section{
     background-size: contain;
     padding: 10px 0;
     background-color:rgba(53, 17, 101, 0.4);
    }
    .small{
        margin-bottom: 35px;
    }
    .footer-logo{
    flex-wrap: wrap;
    gap:50px;
    padding: 0 50px;
    
}
}

