.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(26, 11, 46, 1);
}

.nav{
    max-width:1050px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
    
}
.intro{
    display: flex;
    gap:32px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1rem;

}
.btn{
    padding: 12px 16px;
    border-radius:10000px ;
    color:#FFFFFF;
    background: linear-gradient(47.64deg, #F7E93F,#FB09B4,#9100F8) ;
   font-size: 1.1rem;
   border: 0px;
}
.tech .tech-1{
    font-size: 2.5rem;
    color:#FFFFFF;
    font-weight: 700;

}
.tech .wave{
    font-size: 2.5rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.nav img{
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 5px 3px;
    display: none;
}
@media screen and (max-width:576px){
    .btn{
        display: none;
    }
    .intro{
        display: none;
    }
    .nav img{
        display:block ;
        margin-right: 20px ;
    }
    .tech{
        margin-left: 20px;
    }
}


.hero-container img{
    position: relative;
    
   
}
.hero-bg img{
    width: 100%;
   
}

    

.hero-circle img{
    
    max-width: 300px;
    width: 100%;
    height: 100%;
    top:-530px;
    right: -470px;
}
.microphone img{
   
    max-width:110px ;
    width: 100%;
    top:-780px;
    right: -560px;
}

.hero-container2{
    text-align: center;
    
}

.tech-1{
font-size: 2.5rem;
    color:#FFFFFF;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero-container2 p{
    color:#FFFFFF;
    margin-bottom: 20px;
}
.btn-2{
    padding: 12px 20px;
    border-radius:10000px ;
    color:#00FF88;
    background: none;
   font-size: 1.1rem;
   border: 2px solid #00FF88;
}

